body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

/* Contact Section */
.contact-section {
    padding: 80px 10%; 
    text-align: center;
    background-color: rgb(227, 231, 231);
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: rgb(7, 7, 6);
}

.contact-section p {
    margin-bottom: 40px;
    color: #070707;
    font-weight: 40px;
}

/* Form */
.contact-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #a19a9a;
    border-radius: 9px;
}

.contact-form button {
    padding: 12px;
    background: rgb(241, 236, 236);
    color: rgb(6, 6, 6);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
      border-radius: 9px;
}

.contact-form button:hover {
    background: rgb(245, 248, 56);
    color: black;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.footer-box {
    margin: 20px;
}

.footer-box h2,
.footer-box h3 {
    color: gold;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid gray;
    padding-top: 15px;
}